/* @media only screen and (max-width: 800px) {
  body {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-align: center;
  }

  canvas {
    width: 700px;
  }
  
  .wrapper {
    max-width: 750px;
    margin: 50px auto;
  }
  
  #icons {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  #icons svg {
    z-index: -1;
    position: absolute;
  }
  
  h1 {
    font-weight: 200;
    font-size: 3em;
    margin: 0 0 0.1em 0;
  }
  
  h2 {
    font-weight: 200;
    font-size: 0.9em;
    margin: 0 0 50px;
    color: #999;
  }
  
  a {
    margin-top: 50px;
    display: block;
    color: #3e95cd;
  }
  
} */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}

body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}

div.charts {
  margin: auto;
  margin-bottom: 600px;
  text-align: center;
  width: 100%;
}

div.chart  {
  margin: auto;
}

div.container  {
  display: flex;
}

.title {
  font-weight: 900;
  font-style: italic;
}

.subtitle {
  font-size: smaller;
  margin-bottom: 80px;
}

h3 {
  font-size: medium;
}

canvas {
  max-width: 400px;
  max-height: 225px;
  margin: auto;
  display: block;
}

.big-icon {
  aspect-ratio: initial;
  width: 100%;height: 225px;
}

.wrapper {
  max-width: 750px;
  margin: 50px auto;
}

div {
  display: block;
}

div.wrapper {
  display: inline;
}

#icons {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#icons svg {
  z-index: -1;
  position: absolute;
}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}